#header_back, #footer_back, #body_back
{
	width: 100%;
	float: left;
}
#header_back, #footer_back
{
	background: url("/images/background-v2.png")  repeat-x scroll left 0 transparent;
	height: 91px;
}

#header
{
	font-family:Verdana,sans-serif;
	font-size:16px;
}
#logo
{
	font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size:28px;
	color:#009DD4;
	font-weight:bold;
}
#greeting span
{
	font-family:arial;
	font-size:14px;
	color:black;
	border:1px solid #d4d4d4;
	padding:5px;
	margin:5px 5px;
}
ul#topNav
{
	-moz-border-radius: 5px;
	background:url("/images/tab_background.gif") repeat-x scroll 0 0 transparent;
	border:1px solid #DDDDDD;
	padding:6px 10px;
	margin:13px 0 0;
}
#topNav li
{
	display: inline;
	list-style-type: none;
}
#topNav li a
{
	-moz-border-radius:4px;
	color:#666666;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
	height:24px;
	padding:4px 8px;
}
#topNav li a:hover
{
	background:#CCC;
}
#footer
{
	color:#666;
	font-family:helvetica,arial,freesans,clean,sans-serif;
	font-size:12px;
	text-align:center;
}
a
{
	text-decoration: none;
}
h1
{
	font-family:arial;
	font-size:24px;
	font-weight:bolder;
}
.positive
{
	color:#00AA00;
}
.negtive
{
	color:red;
}
table
{
  border-collapse:collapse;
}
td
{
	text-align:right;
	background-color:transparent;
	border-bottom:1px solid #BEDCE7;
	padding:4px 8px;
}
thead
{
	border-top:2px solid #BEDCE7;
	border-bottom:1px solid #BEDCE7;
}
thead th
{
	padding:5px 10px;
	text-align:right;
	background-color:#D7F0F8;
	color:#08495E;
	font-weight:bolder;
}
tfoot
{
	background-color:#DFF8F8;
	border-bottom:2px solid #BEDCE7;
	
}
td:first-child, th:first-child
{
	text-align:center;
	font-weight:bolder;
}
tr
{
	border-bottom:1px solid #BEDCE7;
}
tr:hover
{
	background-color:#61A3F4;
	border-bottom:1px solid #FFF;
}
table.expandContainer th,table.expandContainer td
{
	border-bottom:1px solid #d4d4d4;
}
tr.expandable
{
	/* for IE */
	filter:alpha(opacity=60);
	 /* CSS3 standard */
	opacity:0.6;
}
tr.expandable:nth-child(even) 
{
	background-color:#EEE;
}
tr.expandable:nth-child(odd) {
	background: #FFF
}

table.expandTable
{
	-moz-border-radius:8px;
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.3);
}
table.expandTable th
{
	background:#39a89d;
}
tr.expandable
{
	cursor:hand;
	cursor:pointer;
}
input
{
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
	color:#666666;
}

